body{
    font-family: 'open sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(90, 87, 145) 0%, rgba(145,165,175,1) 0%, rgb(114, 104, 146) 47%, rgb(76, 54, 151) 70%, rgb(119, 119, 172) 100%);
}
.calculator-grid{
    box-sizing: border-box;
    width: 281px;
    height: 500px;
    background-color:#D2E4FC;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    top: 40px;
    position: relative;
    box-shadow: 1px 2px 12px 12px rgba(155, 84, 117, 0.2);
}
.output{
width: 281px;
height:100px ;
text-align: right;
padding-top: 20px;
font-size: 15px;
background-color:#FCF4DD;
}
.previous-operand{
    height: 50px;
    color:#808080;
    margin: 0 25px;

}
.current-operand{
    height: 50px;
    color: black;
    font-size: 30px;
    margin: 0 25px;

}
.keys{
width: 300px;
height: 400px;
}
#AC , #eq {
    width: 120px;
}
.operand, .number {
    height: 50px;
    width: 50px;
    margin:10px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

}
.operand:active , .number:active{
    font-size: 13px;
}
.operand:focus, .number:focus{
    outline: 0;
}
.number{
    background-color:#FEDDF2;
}
.operand{
    background-color: #F0C94F;
}
button:nth-child(1){
    background-color: #5A7ABF;
}
button:nth-child(2){
    background-color:#6ECACF;
}
button:nth-child(18){
    background-color: #7C7ABD;
}